// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
footer {
    background: #e2f5f3 url("/web/img/bg-footer.png") 54% 40% no-repeat;

    div.container {
        width: 1200px;
        height: 196px;
        color: #777272;
        margin: 0 auto;
        position: relative;
        nav {
            position: absolute;
            left: 303px;
            top: 9px;
            ul {
                display: inline-block;
                margin-right: 55px;
                vertical-align: top;
                li {
                    line-height: 29px;
                    font-size: 22px;
                }

            }
            a {
                color: #777272;
            }
        }
        ul.contacts {
            font-size: 16px;
            display: inline-block;
            margin: 0 20px 0 12px;
            padding: 0;
            position: absolute;
            top: 133px;
            left: 237px;
            li {
                display: inline-block;
                margin-right: 95px;
                i.phone:before {
                    position: absolute;
                    left: -23px;
                    top: -2px;
                    font-size: 26px;
                }
            }
        }
        div.social {
            position: absolute;
            top: 55px;
            right: 38px;
            a {
                display: inline-block;
                margin-right: 20px;
                width: 48px;
                height: 48px;
                font-size: 50px;
                color: #777272;
            }
        }
        hr {
            display: inline-block;
            width: 734px;
            position: absolute;
            top: 110px;
            left: 290px;
            color: #a39999;
            border-style: solid;
            border-width: 0 0 1px 0;
        }
    }
}
