// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------
@font-face {
    font-family: 'Lobster';
    src: font('lobster-regular.woff');
    font-weight: normal;
}
@font-face {
    font-family: 'FontAwesome';
    src: font('fontawesome-webfont.woff');
    font-weight: normal;
}
